body {
  background:black;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-section {
  background: transparent;
  max-width: 600px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
}

.clock-holder {
  width: 100%;
  background:  #00FF00;
  margin: 30px auto;
  position: relative;
}


.stopwatch {
  padding: 60px 0px;
  text-align: center;
}
.stopwatch span{
  background:black;
  color: skyblue;
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  padding: 20px;
  border-radius: 5px;
  width: 70px;
}

.stopwatch .stopwatch-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  transition: background 1s;
  cursor: pointer;
}
.stopwatch .stopwatch-btn-red{
  border: 2px solid white;
  color: gray;
}
.stopwatch .stopwatch-btn-yel{
  border: 2px solid white;
  color:gray;
}

.stopwatch .stopwatch-btn-gre{
  border: 2px solid wheat;
  color: gray;
}
.stopwatch .stopwatch-btn-red:hover {
  background: gray;
  border: 2px solid white;
  color: skyblue;
}
.stopwatch .stopwatch-btn-yel:hover {
  background: gray;
  border: 2px solid black;
  color: skyblue;
}
.stopwatch .stopwatch-btn-gre:hover {
  background: gray;
  border: 2px solid black;
  color: skyblue;
}